/bitfumes/__pycache__/
/algovibes/.ipynb_checkpoints/
/fastapi_stuff/harvard_tuts/__pycache__/
/fastapi_stuff/basic/.vscode/
/fastapi_stuff/basic/__pycache__/
/ssali/lesson1/.ipynb_checkpoints/
/ssali/lesson2_sqlmodel/__pycache__
